# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment variables
.env
.env.local

# iOS
ios/Pods/
ios/build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcworkspace/xcshareddata/

# Android
android/app/build/
android/.gradle/
*.keystore
*.jks

# Firebase credentials
firebase-service-account.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db
